POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db
DB_PORT=5432
DEBUG=1

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
CONTACT_EMAIL=you@example.com